NEXT_PUBLIC_API_URL=http://localhost:4001/api
CONDUIT_INTERNAL_API_URL=http://localhost:4001/api
NEXT_PUBLIC_DEFAULT_TENANT_ID=6980b49b44d039abbd141cee
NEXT_PUBLIC_STORAGE_URL=https://storage.octanebrew.dev
NEXT_PUBLIC_BASE_DOMAIN=conduit.dev
